<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="/lib/seajs/sea.js"></script>
</head>
<body>
  <style>
    body{
      padding: 2px;
    }
    #impress{
      width: 100%;
      height: 100%;
    }
    .sliderwe{
      width: 320px;
      height: 640px;
      border: solid 1px gray;
    }
  </style>


  <!-- impress  Demo container-->
  <div id="impress">

    <div class="step slide" data-x="0" data-y="0">
      <h1><%= title %></h1>
      <p> Welcome to <%= title %></p>
    </div>

    <div class="step slide" data-x="600" data-y="0">
      <h1>wocha wozai dier</h1>
    </div>

  </div>


  <script type="text/javascript" src="/javascripts/config.js"></script>
</body>
</html>